
/* Card */
.MuiCard-root {
  font-size: 30px;
  height: 400px;
  width: 33%;

}

.MuiButton-root {
  margin-left: 10px;
}

body {
  background-color: #F0EAD6;
}

* {
  display: 'flex';
  font-family: 'Montserrat', sans-serif;
  /* margin: 10px; */
}
